<div class="main-container">
    <div class="content-container">
        
        <img alt="לוגו מדינת ישראל" src="Logo.svg"/>

        <div class="row-container">

            <div class="column-container">

                <h6 class="normal-text">מדינת ישראל</h6>
                <h4 class="emphasized-text">הנהלת בתי המשפט</h4>
    
            </div>
    
            <div class="vertical-line"></div>
    
            <p class="emphasized-text">פניות הציבור</p>

        </div>

    </div>
</div>