.main-container
{
    text-align: start;

    width: 1000px;

    margin: auto;
    margin-top: 50px;
    
    padding-bottom: 30px;
}

.sub-title
{
    color: var(--Dark-Gray, #001E40);
    text-align: right;
    
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 32px;
    margin-bottom: 13px;
}

.form-container
{
    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 30px 50px;
}

.button-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 48px;
    margin-bottom: 50px;
}

.next-button
{
    background-color: #005EEE;
    min-width: 140px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 94, 238, 0.20);

    color: white;
    font-size: 18px;
    font-weight: 600;
}

.back-button-container
{
    padding: 16px;

    display: flex;
    flex-direction: row;

    gap: 5px;
}

.prev-button
{
    background-color: transparent;
    border-radius: 6px;
    border: none;
    
    color: #005EEE;
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 1px;
}

button:hover
{
    cursor: pointer;
}

.description-container
{
    margin-top: 22px;
    margin-bottom: 0px;
    text-align: start;
    padding: 24px 24px;
    background-color: #E0E9FC;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;

    gap: 35px;

    width: 100%;
}

ul
{
    margin-right: 5px;
}

.description-title
{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li a
{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    color: #001E40;
}

.file-select-container
{
    position: relative;

    margin-top: 38px;
    margin-bottom: 25px;

    padding: 20px;
    background-color: #F4F8FE;

    border-radius: 6px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
}

.file-select-container:hover
{
    cursor: pointer;
}

.file-select-text
{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: #005EEE;

    margin-right: 16px;
}

.uploaded-file-container
{
    padding: 20px;
    background-color: #F4F8FE;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    margin-bottom: 25px;
}

.extra-margin
{
    margin-top: 38px;
}

.row-container
{
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 15px;
}

.uploaded-file-name
{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 450px;

    overflow: hidden;
}

.uploaded-file-size
{
    color: rgba(0, 30, 64, 0.6);
    direction: ltr;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: block;
    width: auto;
}

.delete-file-icon:hover
{
    cursor: pointer;
}

.title-container
{
    margin: auto;
    text-align: center;

    margin-top: 40px;
}

.main-title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 47.4px;
}

.main-logo
{
    margin-top: 25px;
}

.error-message-container
{
    position: absolute;
    margin-top: 45px;
    margin-right: 50px;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 9px;
}

.file-error-message-container
{
    margin-top: 25px;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 9px;
}

.error-message
{
    color: #CF3D58;
}

.on-top
{
    z-index: 1000;
}

@media screen and (max-width: 1300px) 
{
    .main-container
    {
        text-align: center;

        width: 1000px;

        margin: auto;
        margin-top: 50px;

        padding-bottom: 30px;
    }
}

@media screen and (max-width: 750px) 
{
    .main-container
    {
        width: 80%;

        margin: auto;
        margin-top: 50px;
        
        padding-bottom: 30px;
    }

    .description-container
    {
        display: flex;
        flex-direction: column;

        align-items: center;

        width: 100%;
    }

    .description-title
    {
        font-size: 16px;
    }

    li
    {
        font-size: 16px;
    }

    .custom-bullet
    {
        display: inline-block;

        width: 4px;
        height: 4px;
        aspect-ratio: 1/1;

        background-color: #000000;
        border-radius: 50%;

        margin-left: 5px;
    }

    .form-container
    {
        padding: 20px 20px;
    }

    .file-select-container
    {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .uploaded-file-name
    {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        text-overflow: ellipsis;
        text-wrap: nowrap;
        max-width: 150px;

        overflow: hidden;
    }

    .uploaded-file-size
    {
        color: rgba(0, 30, 64, 0.6);
        direction: ltr;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: none;
        width: 0;
    }
}