.main-container
{
    text-align: center;

    width: 1000px;

    margin: auto;
    margin-top: 50px;

    padding-bottom: 30px;
}

.form-instructions-container
{
    text-align: start;
    background-color: #D7E6FC;
    border-radius: 5px;
    padding: 33px;

    padding-right: 100px;

    margin: auto;
    margin-top: 55px;

    display: flex;
    flex-direction: column;

    min-width: 520px;    
}

.instruction-text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.instruction-text:not(:first-of-type)
{
    margin-top: 30px;
}

.expandable-text
{
    font-weight: 600;
    color: #0056d6;
    font-size: 18px;
}

.row-container
{
    display: flex;
    flex-direction: row;
    gap: 6px;

    margin-top: 20px;
}

.row-container:hover
{
    cursor: pointer;
}

ol
{
    list-style: none;
    margin: 0;
    padding: 0;
    direction: rtl;
    counter-reset: item;
}

li
{
    direction: rtl;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: start;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

li::before
{
    content: counter(item) ".";
    counter-increment: item;
    min-width: 12px;
    text-align: start;
}

.expanded-text-container
{
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    min-width: 520px;

    padding-left: 20px;
}

.expanded-text-title
{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 25px;
}

.sub-title
{
    color: var(--Dark-Gray, #001E40);
    text-align: right;
    
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 32px;
    margin-bottom: 13px;
}

.select-contact-type-container
{
    position: relative;

    padding: 70px;
    background-color: white;

    border-radius: 10px;

    text-align: start;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin-bottom: 5px;

    min-width: 520px;
}

.radio-style
{
    font-size: 20px;
    display: flex; /* Use flexbox for labels to be inline */
    flex-direction: row;
    align-items: center; /* Vertically align text with radio button */
    gap: 16px; /* Add space between radio button and text */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="radio"] 
{
    -webkit-appearance: none; /* Remove native styles */
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    width: 1.3em; /* Increase the outer size */
    height: 1.3em; /* Increase the outer size */
    width: 25px;
    height: 25px;
    border: 0.10em solid #005EEE; /* Border color */
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before 
{
    content: "";
    width: 0.9em; /* Increase the inner dot size */
    height: 0.9em; /* Increase the inner dot size */
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #005EEE; /* Inner circle with purple */
}
  
input[type="radio"]:checked::before 
{
    transform: scale(1);
}

.button-container
{
    width: 100%;
    text-align: end;

    margin-top: 48px;
    margin-bottom: 50px;
}

button
{
    background-color: #005EEE;
    min-width: 140px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 94, 238, 0.20);

    color: white;
    font-size: 18px;
    font-weight: 600;
}

button:hover
{
    cursor: pointer;
}

.tooltip-container
{
    margin: 0;
    padding: 0;
    margin-left: 10%;
    display: inline-block;
    position: relative;
}

.tooltip-container img
{
    display: block;
}

.tooltip-container img:hover
{
    cursor: pointer;
}

.tooltip-text-container 
{
    box-shadow: 0px 4px 20px 0px rgba(0, 30, 64, 0.30);
    // visibility: hidden;
    background-color: white;
    text-align: start;
    padding: 15px 25px;
    border-radius: 5px;

    position: absolute;
    bottom: 150%;
    left: 50%;

    white-space: normal; /* Allow text to wrap */
    width: 500px;
    word-break: break-word; /* Ensure long words wrap properly */
    overflow-wrap: break-word;
    
    transform: translateX(-50%);

    // opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tooltip-text-container::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

// .tooltip-container:hover .tooltip-text-container
// {
//     visibility: visible;
//     opacity: 1;
// }

.tooltip-title
{
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    margin-bottom: 10px;
}

.tooltip-text
{
    display: block;
    position: relative;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    word-spacing: 2px;
}

.tooltip-x
{
    position: absolute;
    top: 20px;
    left: 25px;
}

.title-container
{
    margin: auto;
    text-align: center;

    margin-top: 40px;
}

.main-title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 47.4px;
}

.main-logo
{
    margin-top: 25px;
}

.radio-button-container
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 12px;
}

.radio-button-container:hover
{
    cursor: pointer;
}

.radio-button-outer-circle
{
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;

    border: 2px solid #005EEE;

    border-radius: 50%;

    display: flex;
    
    justify-content: center;
    align-items: center;
}

.radio-button-inner-circle
{
    width: 0px;
    height: 0px;
    aspect-ratio: 1/1;

    background-color: #005EEE;

    border-radius: 50%;

    transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.radio-button-text
{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.selected-radio-button
{
    width: 14px;
    height: 14px;
    aspect-ratio: 1/1;
}

.error-message-container
{
    position: relative;
    margin-top: 0px;
    margin-right: 2px;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 9px;
}

.error-message
{
    color: #CF3D58;
}

.form-instructions-container-mobile
{
    text-align: start;
    background-color: #D7E6FC;
    border-radius: 5px;
    padding: 33px;

    margin: auto;
    margin-top: 55px;

    display: flex;
    flex-direction: column;
    display: none;
}

.type-container
{
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 20px;
}

.type-row
{
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 50px;
    row-gap: 30px;

    flex-wrap: wrap;
}

.description-icon-container
{
    position: absolute;

    top: 50%;
    right: -77px;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  direction: rtl; /* Hebrew */
  font-size: 20px;
  cursor: pointer;
  gap: 8px;
  position: relative;
  margin-top: 8px;
  margin-right: 1px;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.custom-checkbox .checkmark {
  width: 22px;
  height: 22px;
  border: 2px solid #007bff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: white;
  border-color: #007bff;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 16px;
    left: 50%;
    top: 46%;
    border: solid #007bff;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -50%) rotate(45deg) ;
}

#slideBox {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;

  margin-bottom: -15px;
  padding: 0;
}
#slideBox.open {
  height: auto; /* Set high enough to fit your content */
}

.followUpText
{
    font-size: 20px;
    margin-bottom: 10px;
}

#slideBox input
{
    margin-bottom: 10px;
}

@media (max-width: 1300px) 
{
    .main-container
    {
        text-align: center;

        width: 1000px;

        margin: auto;
        margin-top: 50px;
    }

    .form-instructions-container
    {
        display: none;
    }

    .form-instructions-container-mobile
    {
        display: flex;
    }

    .select-contact-type-container
    {
        position: relative;
        padding: 70px 30px;

        background-color: white;

        border-radius: 10px;

        text-align: start;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        margin-bottom: 5px;

        flex-wrap: wrap;

        min-width: 0px;
        width: 100%;
    }

    .error-message-container
    {
        position: relative;
        margin-top: 0px;
        margin-right: 2px;

        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 9px;
    }

    .main-title
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 47.4px;
    }

    .main-logo
    {
        margin-top: 25px;
    }

    .expanded-text-container
    {
        min-width: 0;
    }
}

@media (max-width: 750px) 
{
    .main-container
    {
        text-align: center;

        width: 82%;

        margin: auto;
        margin-top: 50px;
    }

    .form-instructions-container
    {
        display: none;
    }

    .form-instructions-container-mobile
    {
        display: flex;
    }

    .select-contact-type-container
    {
        position: relative;
        padding: 70px 30px;

        background-color: white;

        border-radius: 10px;

        text-align: start;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        margin-bottom: 5px;

        flex-wrap: wrap;

        min-width: 0px;
        width: 100%;
    }

    .error-message-container
    {
        position: relative;
        margin-top: 0px;
        margin-right: 2px;

        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 9px;
    }

    .main-title
    {
        font-size: 40px;
        font-weight: 600;
        line-height: 47.4px;
    }

    .main-logo
    {
        margin-top: 25px;
    }

    .expanded-text-container
    {
        min-width: 0;
    }
}