.main-container
{
    text-align: center;

    width: 1000px;

    margin: auto;
    margin-top: 50px;

    padding-bottom: 30px;
}

.sub-title
{
    color: var(--Dark-Gray, #001E40);
    text-align: right;
    
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 32px;
    margin-bottom: 13px;
}

.form-container
{
    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 40px 50px;
}

.form-container
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    overflow: hidden;

    background-color: white;
    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 50px;
}
.instruction{
    text-align: start;
    align-content: space-between;
    flex-wrap: nowrap;
    background-color: #D7E6FC;
    border-radius: 5px;
    padding: 33px;
    padding-right: 100px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    min-width: 520px;
}
.textarea{
    margin-top: 25px;
}


.description-text-container
{
    margin-top: 22px;
    margin-bottom: 0px;
    text-align: start;
    padding: 12px 24px;
    background-color: #E0E9FC;
    border-radius: 5px;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 42px;
}

.description-text
{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.bold-inline
{
    display: inline-block;
    font-weight: 500;
}

.link-inline
{
    margin-right: 4px;
    display: inline-block;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    color: #005EEE;

    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.button-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 48px;
    margin-bottom: 50px;
}

.next-button
{
    background-color: #005EEE;
    min-width: 140px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 94, 238, 0.20);

    color: white;
    font-size: 18px;
    font-weight: 600;
}

.back-button-container
{
    padding: 16px;

    display: flex;
    flex-direction: row;

    gap: 5px;
}

.prev-button
{
    background-color: transparent;
    border-radius: 6px;
    border: none;
    
    color: #005EEE;
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 1px;
}

button:hover
{
    cursor: pointer;
}

.title-container
{
    margin: auto;
    text-align: center;

    margin-top: 40px;
}

.main-title
{
    font-size: 40px;
    font-weight: 600;
    line-height: 47.4px;
}

.main-logo
{
    margin-top: 25px;
}

.form-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 30px;

    width: 100%;
}

input
{
    width: 273px;
}

.dropdown-element
{
    width: 275px;
}

// @media screen and (max-width: 1050px) 
// {
//     .main-container
//     {
//         width: 60%;
//     }

//     .form-container
//     {
//         margin: auto;

//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//         width: 100%;
//         overflow: hidden;

//         justify-content: center;
//         align-items: center;

//         background-color: white;
//         border-radius: 10px;

//         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//     }

//     .form-field-container
//     {
//         width: 100%;
//     }

//     input
//     {
//         width: 100%;
//     }

//     .dropdown-element
//     {
//         width: 100%;
//     }
// }

@media screen and (max-width: 1300px) 
{
    .main-container
    {
        text-align: center;

        width: 1000px;

        margin: auto;
        margin-top: 50px;

        padding-bottom: 30px;
    }
}

@media screen and (max-width: 750px) 
{
    .main-container
    {
        width: 82%;
    }

    .form-container
    {
        gap: 30px;
        width: 100%;
        padding: 20px;
    }

    .description-text-container
    {
        display: flex;
        flex-direction: column;

        gap: 25px;

        margin-top: 0px;
    }
}