.main-container
{
    margin: auto;

    margin-top: 60px;

    text-align: center;
}

.thank-you-title
{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    color: #001E40;
}

.email-sent-text
{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   

    margin-top: 9px;
}

.home-button
{
    background-color: #005EEE;
    min-width: 140px;
    padding: 16px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 94, 238, 0.20);

    color: white;
    font-size: 18px;
    font-weight: 600;

    margin-bottom: 50px;
    margin-top: 78px;
}

.home-button:hover
{
    cursor: pointer;
}

img
{
    margin-top: 80px;
    margin-bottom: 60px;
}